.idea
.DS_Store

composer.lock
vendor

tools/php-cs-fixer/composer.lock
tools/php-cs-fixer/vendor
.php-cs-fixer.cache

tools/rector/composer.lock
tools/rector/vendor

tools/phpstan/composer.lock
tools/phpstan/vendor
